<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Geiser Games</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel|Sacramento">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/principal.css">
</head>
<body>
  <div class="container" id="site">
    <!-- Barra de navegação -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="page-brand"><a href="/">Geiser</a> <small> - seu computador a todo vapor</small></h1>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Inicial <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
    </nav>
    
    {{#each players}}
      <div class="row" id="conteudo">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <ul class="media-list">
            <li class="media player-card">              
              <a class="media-left media-middle" href="jogador/{{this.steamid}}/">
                <img src="{{this.avatarmedium}}" class="avatar">
              </a>
              <div class="media-body">
                <h3 class="media-heading">
                  <a href="jogador/{{this.steamid}}/">{{this.personaname}}</a>
                </h3>
                <dl class="dl-horizontal">
                  <dt>Nome real:</dt><dd>{{this.realname}}</dd>
                  <dt>País:</dt><dd>{{this.loccountrycode}}</dd>
                  <dt>Perfil no steam:</dt><dd><a href="{{this.profileurl}}">@{{this.personaname}}</a></dd>
                </dl>
              </div>
              <div class="player-card-link-container media-right media-bottom">
                <a href="jogador/{{this.steamid}}/" class="player-card-link">
                  + detalhes
                </a>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    {{/each}}

  </div>
</body>
</html>
